<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sandwich Cloud</title>
    </head>

    <body>
        <h1>Welcome to...</h1>
        <img th:src="@{/images/SandwichCloud.png}"/>
        <br/>
        <form method="POST" th:action="@{/logout}" id="logoutForm">
            <input type="submit" value="Logout"/>
        </form>
        <button onclick="location.href='/orders'">Your orders</button>
        <br/>
        <a th:href="@{/design}" id="design">Design a sandwich</a>
    </body>
</html>
